{
  "swagger": "2.0",
  "info": {
    "title": "ML Team Account Management Client",
    "description": "These APIs allow end users to operate on Azure Machine Learning Team Account resources. They support CRUD operations for Azure Machine Learning Team Accounts.",
    "version": "2017-05-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningExperimentation/checkNameAvailability": {
      "post": {
        "tags": [
          "Operation"
        ],
        "description": "Checks whether the team account name is available for use. The name must contain only alphanumeric characters, be globally unique, and between 5 and 60 characters in length.",
        "operationId": "TeamAccounts_CheckNameAvailability",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The object containing information for the availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountNameCheckRequest"
            }
          }
        ],
        "x-ms-examples": {
          "TeamAccountCreate": {
            "$ref": "../examples/CheckNameAvailability.json"
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/AccountNameStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.MachineLearningExperimentation/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "description": "Lists all of the available Azure Machine Learning Team Accounts REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/teamAccounts/{accountName}": {
      "get": {
        "tags": [
          "TeamAccounts"
        ],
        "description": "Gets the properties of the specified machine learning team account.",
        "operationId": "TeamAccounts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "x-ms-examples": {
          "TeamAccountGet": {
            "$ref": "../examples/GetTeamAccount.json"
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TeamAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "TeamAccounts"
        ],
        "description": "Creates or updates a team account with the specified parameters.",
        "operationId": "TeamAccounts_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters for creating or updating a machine learning team account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamAccount"
            }
          }
        ],
        "x-ms-examples": {
          "TeamAccountCreate": {
            "$ref": "../examples/CreateTeamAccount.json"
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the resource already exists and was updated.",
            "schema": {
              "$ref": "#/definitions/TeamAccount"
            }
          },
          "201": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TeamAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TeamAccounts"
        ],
        "description": "Deletes a machine learning team account.",
        "operationId": "TeamAccounts_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "x-ms-examples": {
          "TeamAccountCreate": {
            "$ref": "../examples/DeleteTeamAccount.json"
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "204": {
            "description": "The machine learning team account does not exist in the subscription."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "TeamAccounts"
        ],
        "description": "Updates a machine learning team account with the specified parameters.",
        "operationId": "TeamAccounts_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters for updating a machine learning team account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamAccountUpdateParameters"
            }
          }
        ],
        "x-ms-examples": {
          "TeamAccountUpdate": {
            "$ref": "../examples/UpdateTeamAccount.json"
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TeamAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }, 
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/teamAccounts": {
      "get": {
        "tags": [
          "TeamAccounts"
        ],
        "description": "Lists all the available machine learning team accounts under the specified resource group.",
        "operationId": "TeamAccounts_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          }
        ],
        "x-ms-examples": {
          "TeamAccountCreate": {
            "$ref": "../examples/ListTeamAccountResourceGroup.json"
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TeamAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningExperimentation/teamAccounts": {
      "get": {
        "tags": [
          "TeamAccounts"
        ],
        "description": "Lists all the available machine learning team accounts under the specified subscription.",
        "operationId": "TeamAccounts_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "x-ms-examples": {
          "TeamAccountCreate": {
            "$ref": "../examples/ListTeamAccount.json"
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TeamAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AccountNameCheckRequest": {
      "description": "A request to check whether a team account name is available.",
      "required": [
        "name",
        "type"
      ],
      "properties": {
        "name": {
          "description": "The name of the team account.",
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "type": {
          "description": "The resource type of the team account.",
          "enum": [
            "Microsoft.MachineLearningExperimentation/teamAccounts"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TeamAccountsResourceType",
            "modelAsString": false
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "The error response send when an operation fails.",
      "properties": {
        "code": {
          "type": "string",
          "description": "error code"
        },
        "message": {
          "type": "string",
          "description": "error message"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "AccountNameStatus": {
      "description": "The result of a request to check the availability of a team account name.",
      "properties": {
        "nameAvailable": {
          "description": "The value that indicates whether the name is available.",
          "type": "boolean"
        },
        "reason": {
          "description": "If any, the reason that the name is not available.",
          "type": "string"
        },
        "message": {
          "description": "If any, the error message that provides more detail for the reason that the name is not available.",
          "type": "string"
        }
      }
    },
    "TeamAccount": {
      "type": "object",
      "description": "An object that represents a machine learning team account.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/TeamAccountProperties",
          "description": "The properties of the machine learning team account.",
          "x-ms-client-flatten": true
        }
      }
    },
    "TeamAccountProperties": {
      "type": "object",
      "description": "The properties of a machine learning team account.",
      "required": [
        "storageAccount",
        "vsoAccountId",
        "keyVaultId",
        "sqlDbConnectionString"
      ],
      "properties": {
        "vsoAccountId": {
          "description": "The fully qualified arm id of the vso account to be used for this team account.",
          "type": "string"
        },
        "keyVaultId": {
          "description": "The fully qualified arm id of the user key vault.",
          "type": "string"
        },
        "accountUri": {
          "description": "The uri for this machine learning team account.",
          "type": "string",
          "readOnly": true
        },
        "creationDate": {
          "format": "date-time",
          "description": "The creation date of the machine learning team account in ISO8601 format.",
          "type": "string",
          "readOnly": true
        },
        "sqlDbConnectionString": {
          "description": "Connection string to the user SQL database server in Azure.",
          "type": "string"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountProperties",
          "description": "The properties of the storage account for the machine learning team account."
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Creating",
            "Succeeded",
            "Updating",
            "Deleting",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": false
          },
          "readOnly": true,
          "description": "The current deployment state of team account resource. The provisioningState is to indicate states for resource provisioning."
        }
      }
    },
    "StorageAccountProperties": {
      "description": "The properties of a storage account for a machine learning team account.",
      "required": [
        "storageAccountId",
        "accessKey"
      ],
      "properties": {
        "storageAccountId": {
          "description": "The fully qualified arm Id of the storage account.",
          "type": "string"
        },
        "accessKey": {
          "description": "The access key to the storage account.",
          "type": "string"
        }
      }
    },
    "TeamAccountUpdateParameters": {
      "description": "The parameters for updating a machine learning team account.",
      "properties": {
        "tags": {
          "description": "The resource tags for the machine learning team account.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/TeamAccountPropertiesUpdateParameters",
          "description": "The properties that the machine learning team account will be updated with.",
          "x-ms-client-flatten": true
        }
      }
    },
    "TeamAccountPropertiesUpdateParameters": {
      "description": "The parameters for updating the properties of a machine learning team account.",
      "properties": {
        "keyVaultId": {
          "description": "Key Vault Identifier URI to user key vault.",
          "type": "string"
        },
        "sqlDbConnectionString": {
          "description": "Connection string to the user SQL database server in Azure.",
          "type": "string"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountProperties",
          "description": "The properties of the storage account for the machine learning team account."
        }
      }
    },
    "TeamAccountListResult": {
      "description": "The result of a request to list machine learning team accounts.",
      "properties": {
        "value": {
          "description": "The list of machine learning team accounts. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning team accounts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamAccount"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next list of machine learning team accounts.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "Azure Machine Learning team account REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display name of operation",
          "properties": {
            "provider": {
              "description": "The resource provider name: Microsoft.MachineLearningExperimentation",
              "type": "string"
            },
            "resource": {
              "description": "The resource on which the operation is performed.",
              "type": "string"
            },
            "operation": {
              "description": "The operation that users can perform.",
              "type": "string"
            },
            "description": {
              "description": "The description for the operation.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "An array of operations supported by the resource provider.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of AML team account operations supported by the AML team account resource provider."
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The location of the resource. This cannot be changed after the resource is created.",
          "type": "string"
        },
        "tags": {
          "description": "The tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Microsoft Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The client API version.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group to which the machine learning team account belongs.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "description": "The name of the machine learning team account.",
      "required": true,
      "type": "string",
      "maxLength": 50,
      "minLength": 5,
      "pattern": "^[a-zA-Z0-9]*$",
      "x-ms-parameter-location": "method"
    }
  }
}
